# Copyright (c) 2020, Grégoire Duchêne <gduchene@awhk.org>
#
# Use of this file is governed by the ISC license that can be found in
# the LICENSE file.

[Install]
  WantedBy=multi-user.target

[Service]
  ExecStart=go-import-redirect
  DynamicUser=true

[Unit]
  Description=go-import-redirect
