# Copyright (c) 2020, Grégoire Duchêne <gduchene@awhk.org>
#
# Use of this file is governed by the ISC license that can be found in
# the LICENSE file.

[Install]
  WantedBy=default.target

[Service]
  Environment=ADDR=%t/go-import-redirect/socket
  ExecStart=go-import-redirect
  DynamicUser=true
  RuntimeDirectory=go-import-redirect

[Unit]
  Description=go-import-redirect
